@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 169, 177, 214;
  --background-start-rgb: 26, 27, 38;
  --background-end-rgb: 36, 40, 59;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer base {
  :root {
    --background: 225 26% 13%;
    --foreground: 225 27% 75%;
    --card: 225 23% 19%;
    --card-foreground: 225 27% 75%;
    --popover: 225 23% 19%;
    --popover-foreground: 225 27% 75%;
    --primary: 225 70% 60%;
    --primary-foreground: 225 10% 95%;
    --secondary: 225 25% 25%;
    --secondary-foreground: 225 27% 75%;
    --muted: 225 25% 25%;
    --muted-foreground: 225 20% 60%;
    --accent: 270 50% 60%;
    --accent-foreground: 225 10% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 225 10% 95%;
    --border: 225 25% 25%;
    --input: 225 25% 25%;
    --ring: 225 70% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}